@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
}
input{
    height: 40px;
    border: 1px solid rgb(121, 159, 196);
    padding-left: 20px;
}

input:focus{
    outline: name;
    border: 2px solid rgb(54, 75, 97);
}

.outline-btn{
    border: 1px solid  #4D426D;
    color: white;
    padding: 10px 20px;
    height: 40px;

    text-transform: uppercase;

}

.contained-btn{
    background-color:#4D426D;
    color: white;
    padding: 5px 20px;
    height: 40px;
    text-transform: uppercase;


}